.logo-header {
    font-size: 40px;
    color:  #ff0000a1;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}

.logo-header:hover {
    color: white;
}

.bi-cart-check {
    float: right;
    cursor: pointer;
    color: red;
    font-size: 23px;
    border: #c31d1df5 1px solid;
    padding: 1px 10px;
    border-radius: 14px;
}

.bi-cart-check:hover {
    color: white;
    border: white 1px solid;

}

.navbar-nav .nav-link {
    color: red;
}


