.logo-header {
    font-size: 40px;
    color:  #ff0000a1;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
}

.logo-header:hover {
    color: white;
}

.bi-cart-check {
    float: right;
    cursor: pointer;
    color: red;
    font-size: 23px;
    margin-left: 5px;
}

.cart-link {
    text-decoration: none;
    color: red;
}

.cart-link:hover {
    color: white;

}

.bi-cart-check:hover {
    color: white;
}

.navbar-nav .nav-link {
    color: red;
}


