.stars-rating {
    justify-content: start;
    font-size: 13px;
}

.product-img {
    border-radius: 10px;
    margin-left: 50px;
    width: 38%;
    height: 365px;
    -webkit-box-shadow: 20px 20px 8px -4px rgb(0 0 0);
}
.product-body {
    display: flex;
    padding-top: 50px;
    gap: 5%;
    height: 600px;
}

.product_description {
    color: white;
}

.product-price-body {
    display: flex;
    gap: 15px;
    margin: 10px 0;
}

.product-price {
    text-decoration: line-through;
    color: #adadadbf;
    font-size: 20px;
}

.product-discount {
    color: #fd5b5b;
    padding-right: 50px;
    font-size: 25px
}

.product-button {
    padding: 7px;
    cursor: pointer;
}

.product-button:hover {
    transition-duration: 0.4s;
    cursor: pointer;
    -webkit-background-clip: text;
    color: black;
    -webkit-text-fill-color: transparent;
}

.description-product {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 500px;
}

.product-title {
    background: linear-gradient(211deg, #ff0000 0.84%, #ffffff 99.96%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 35px;
}

