.row-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    background: #2b2b2b;
    padding: 50px;
    box-shadow: -1px 20px 42px -7px rgb(0 0 0 / 52%) inset;
}

.related-products {
    display: flex;

}
.background-products {
    box-shadow: 1px 9px 42px 12px rgb(0 0 0 / 52%);
    color: #ff000085;
    text-align: end;
    padding: 5px 67px;
    margin: 0;
}

.bi-unity{
    margin-left: 10px;
    color: #ff000085;
}

.spinner_border {
    display: block!important;
    margin-left: auto;
    margin-right: auto;
}

.louder-product {
    margin-top: 200px;
    margin-bottom: 300px;
}
